<!DOCTYPE html>

<link rel="stylesheet"  type="text/css"  href="{{ url_for('static',filename='css/calendrier.css') }}" />

<body>
    <form action='/chatbot' method="GET">
        <button class='chatbot'>Chatbot</button>
        <div class='json'>
          {% for day in week : %}
          <ul class={{elem}}>
            {{day}}
            {% set counter = loop.index %}
            {% for elem in json : %}
            {% if elem['jour'] == counter %}
            {% for k,v in elem.items() : %}
            <li class="doc">
              {{k}}
              {{v}}
            </li>
            {% endfor %}
            {% endif %}
            {% endfor %}
          </ul>
          {% endfor %}


        </div>
    </form>

</body>
